 *{
    margin: 0;
    padding: 0;
 }
 /* .body{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
 } */

 .header{
    
    background: #222222;
    display: flex;
    justify-content: space-between;
   
 }
 .right_menu{
   display: flex;
   align-items: center;
   gap: 41px;
   padding-top: 31px;
   padding-bottom: 31px;
   padding-right: 3vw;
   position: relative;
 }
 .left_menu {
   display: flex;
   align-items: center;
   gap: 41px;
   padding-top: 18px;
   padding-bottom: 18px;
   padding-left: 3vw;
   
 }
 .basket_container{
  /* position: relative; */
  width: 100%;
 }
 .basket_container::before{
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border: 1px solid black;
  content: "5";
  border-radius: 12px;
  color: white;
  text-align: center;
  top:25px;
  left: 165px;

 }


 .dropdown{
  position: relative;
  display: inline-block;
  
  

 }
 .dropdown_menu{
  margin-top: 34px;
  display: none;
  position: absolute;
  z-index: 1;
  background: #FFF;
  width: 232px;
  padding-left: 33px;
  padding-bottom: 32px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
 }

 .dp_menu{
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-top: 32px;
  margin-bottom: 4px;

  
 }
 .categories{
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding-top: 20px;
 }
 .little_categories{
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 12px;
 }
 .right_menu:hover{
  
  .dropdown_menu{display:flex;
    flex-direction: column;
    }
 }

 .content{
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:  #F1E4E6;
 }
.slogan_container{

   padding-left: 16px;
   border-left: 12px solid #f16d7f;
}

 .obertka_img{
   display: flex;
   width: 800px;
   height: 764px;
 
 }


 .slogan{
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
   
 }
 .little_slogan{
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 }

 .middle{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1140px;
    flex-direction: row;
    gap: 30px;
    padding-top: 64px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    
 }

 .object{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   width: 360px;
   height: 260px;
   background-blend-mode: overlay;
   background-position: center;
   background-color: #211616B2;
   position: relative;
   align-items: center;
   flex-direction: column;
   text-decoration: none;
 }


.object_long_containter{
   padding-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   max-width: 1140px;
   margin: auto;
   background-position: center;
   padding-left: 20px;
   padding-right: 20px;
   position: relative;
}
 .object_long{
   width: 1140px;
   height: 180px;
   
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   background-blend-mode: overlay;
   /* height: auto; */
 }
 
 /* .object:hover, .object_long:hover{
  border: 2px solid purple;
 } */

 .discount{
   color: #FFF;
   text-align: center;
   font-family: Lato;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 }

.category{
   color: #F16D7F;
   font-family: Lato;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}


 
 .bot{
    padding-top: 96px;
    padding-bottom: 74px;
 }
 .title{
   
    text-align: center;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
 .text{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
 .catalog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1140px ;
    gap: 30px;
    padding-top: 48px;
    margin: auto;
 }
 
 .name{
    padding-top: 25px;
    padding-left: 16px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
 .about{
    padding:16px;
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    word-wrap: break-word;
 }
 .price{
    padding-left: 16px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 24px;
 }
 .item{
   width: 360px;
   
 }
 .item_img{
  background: none;
 }

.container_img{
  background-position: center;
}
 .container_background{
  position: relative;
  display:flex;
  text-align: center;
  justify-content: center; 
  align-content: center;
  width: 100%;
  height: 420px;
 
 }

 .add_hidden{
  display: flex;
  position: absolute;
  justify-content: center;
  text-align: center;
  justify-content: center;
  gap: 13px;
  width: 180px;
  height: 44px;
  border: 1px solid #FFF;
  top:45%;
  margin: auto;
  visibility: hidden;
 
 }
 .add_icon{
  margin: auto;
  margin-right: 0;
  
 }
 .add_text{
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
  margin-left:0 ;
 
 }
.item:hover{
  .container_background{
    background-color: rgba(58, 56, 56, 0.86);
  }
  .add_hidden{
    visibility: visible;
   
  }
}


.item_bg{
   width: 360px;
   height: 420px;
   background-color: #F7E4E2;
   display: flex;
   justify-content: center;
   background-repeat: no-repeat;
   background-position: 50%;
   
}
.png_bg{
   margin-left:27%;
    margin-top: 9px;
    
}
 .product_button{
    margin-top: 48px;
    padding: 15px 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 95.5px;
 }
.browse{
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #F26376;
    padding: 15px 39px;
 }

 .browse:hover{
  background-color: #F16D7F;
  color: #FFF;
 }


.about_all{
  background-color: #222224;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 103px;
}

.about_footer{
  text-align: center;
  width: 360px;

}
.about_title{
  color: #FBFBFB;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 19px;
}
.about_text{
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 104px;
  padding-top: 16px;

}

.subscribe{
  display: flex;
  margin: auto;
  height: 448px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  text-decoration: none;
  background-image:url(img/Layer\ 41.png);
  width:100%;
}
.left_subscribe{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color:  rgba(244, 244, 244, 0.70)
}
.right_subscribe{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color:  rgba(244, 244, 244, 0.70)

}
.subscribe_title{
  color: #222224;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%; /* 40.128px */
  }
.subscribe_text{
 
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}
.form_button{
  display: flex;
  flex-direction: row;
}

.form{
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: flex; 
  align-items: center;
  justify-content: start ;
  flex-shrink: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 22px;
  border: 0px;
}

.button{
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.user_face{
  width: 96px;
  height: 96px;
}
.comment{
  width: 359px;
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding-top: 30px;
}




.social{
  background-color: #222224;
  height: 79px;
  display: flex;
  flex-direction: row;
  
}
.left_nav{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.right_nav{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:7px;

}
.copyright{
 
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.footer_nav{
  width: 32px;
  height: 32px;
  background-color:  #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_nav:hover{
  background-color: #F16D7F;
  .nav_icon path{
    fill: white ;
  }
} 




 @media (min-width: 768px)and (max-width: 1024px ){
 
   
.obertka_img{
   /* display: flex; */
   width: 386px;
   height: 368px;

  }
  .subscribe{
    padding-top: 48px;
    flex-direction: column;
    height: 693px;
    background-image:url(img/Layer\ 41\ \(1\).png);
   
    
 }
 .form_button{
  padding-top: 27px;

}
 .left_subscribe{
  
  width: 100%;
  height: 50%;
 }
 .right_subscribe{
  width: 100%;
  height: 50%;
 
 }
 .about_all{
  flex-direction: column;
 }
 

}

@media (min-width:320px ) and (max-width:767px){
  .basket_container::before{
    display: none;
  }
  .man_icon{
    display: none;
  }
  .basket_container{
    display: none;
  }
  .obertka_img{
    display: none;
  }
  .dropdown_menu{
    left: -205px;
  }
  .img_none{
   display: none;
  }
  .content{
    height: 363px;
  }
  .slogan{
    color: #222;
    font-family: Lato;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .little_slogan{
    color: #222;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .middle{
   
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    /* margin-left: 16px;
    margin-right:16px ; */
    
  }
  .object{
    width: 300px;
  }
  .object_long_containter{
   
    padding-top: 30px;
    width: 320px;
   
    padding-left: 0;
    padding-right: 0;
  }
  .catalog{
    width: 320px;
    gap: 16px;
   
  }
  .item{
    width: 300px;
  }
  .item_bg{
    width: 300px;
    height: 418px;
    
  }
  .item_img_bg{
    height: 410px;
    
    
 
  }
  .item_img{
    width: 300px;
  }
  .about{
    font-size: 14px;
  }
  .product_button{
    padding-top: 16px;
    padding-bottom: 85px;
  }
  .bot{
    padding-bottom: 0;
    padding-top:64px;
  }
  .about_all{
    flex-direction: column;
    
   }
   .about_footer{
    width: 100%;
   }
   .about_text{
    font-size: 13px;
   }
  
  .subscribe
  {
  
   flex-direction: column;
   background-image:url(img/Layer\ 41\ \(1\).png)
  }
  .left_subscribe{
   
   width: 100%;
   height: 50%;
  }
  .right_subscribe{
   width: 100%;
   height: 50%;
  
  }
.social{
  flex-direction: column-reverse;
  height: 143px;
  
}
.left_nav{
  padding-top: 40px;
  width: 100%;
  height: 50%;
  padding-bottom: 9px;
}
.right_nav{
  padding-top: 43px;
  width: 100%;
  height: 50%;
}
/* .footer_nav{
  width: 32px;
  height: 32px;
} */
.subscribe_text{

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.2%;
}
.comment{
  width: 100%;
  font-size: 18px;
}
.form_button{
  padding-top: 22px;

}
.form{
  width: 200px;
}
.button{
  width: 95px;
}
}